In [1]:
#variables and strings
dat = "we are here already. "
p = 3
bee = dat * p
print(bee)

we are here already. we are here already. we are here already.

In [4]:
players = [34, 64, 74, 92, 16, 73]
players[:2] #we need the first two

[34, 64]

In [5]:
players = [34, 64, 74, 92, 16, 73]
players[2:] #we need the numbers after the first two

[74, 92, 16, 73]

In [1]:
name = 19
if name < 18:
    print("Drink is not for you")
elif name == 18:
    print("You have to have celebrated your 18th")
else:
    print("Enjoy your drink")

Enjoy your drink

In [1]:
food = ['beans', 'rice', 'eba', 'garri', 'fufu']

for f in food:
    print(f)
    print(len(f))

beans
5
rice
4
eba
3
garri
5
fufu
4

In [2]:
food = ['beans', 'rice', 'eba', 'garri', 'fufu']

for f in food[3:]:
    print(f)
    print(len(f))

garri
5
fufu
4

In [7]:
#appending/adding more items to a list
food = ['beans', 'rice', 'eba', 'garri', 'fufu']

food.append('moi-moi')
print(food)

['beans', 'rice', 'eba', 'garri', 'fufu', 'moi-moi']

In [5]:
food = ['beans', 'rice', 'eba', 'garri', 'fufu']

print(food)
food[:3] = ['moi-moi', 'bread'] #This permanently delete the items and add new ones
print(food)
food[3:] = ['moi-moi', 'bread']
print(food)

['beans', 'rice', 'eba', 'garri', 'fufu']
['moi-moi', 'bread', 'garri', 'fufu']
['moi-moi', 'bread', 'garri', 'moi-moi', 'bread']

In [1]:
#The use of range()
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
#
for x in range(5, 12):
    print(x)

In [ ]:
#
for x in range(3):
    print("Who's home?")

In [2]:
#The first value tell it where to start from  and the next where to stop while the last determine the interval
for x in range(10, 20, 3):
    print(x)

10
13
16
19

In [3]:
num = 5

while num < 10:
    print(num)
    num += 1

5
6
7
8
9

In [4]:
NumberRange = 26

for n in range(101):
    if n is NumberRange:
        print(n, 'This is the number')
        break

26 This is the number

In [5]:
for n in range(1, 41):
    if n % 4 == 0:
        print(n, 'This number is divisible by 4')

4 This number is divisible by 4
8 This number is divisible by 4
12 This number is divisible by 4
16 This number is divisible by 4
20 This number is divisible by 4
24 This number is divisible by 4
28 This number is divisible by 4
32 This number is divisible by 4
36 This number is divisible by 4
40 This number is divisible by 4

In [7]:
NumbersTaken = [2, 5, 7, 4, 8]

for n in range(1, 10):
    if n in NumbersTaken:
        continue
    print(n)

1
3
6
9

In [ ]:
#Creating a function
def usd_naira(usd):
    total = 489 * usd
    print(total)
    
usd_naira(80)
usd_naira(1000)

In [1]:
#You can't use the result of a function without the keyword RETURN
def allow_to_date(guys_age):
    girls_age = guys_age/2 + 7
    return girls_age

for n in range(26, 36, 2): #this select ages of guys
    guy_1 = allow_to_date(n)
    print("Your age is ",n, " and you are allowed to date ladies of year ", guy_1, " or older")

Your age is  26  and you are allowed to date ladies of year  20.0  or older
Your age is  28  and you are allowed to date ladies of year  21.0  or older
Your age is  30  and you are allowed to date ladies of year  22.0  or older
Your age is  32  and you are allowed to date ladies of year  23.0  or older
Your age is  34  and you are allowed to date ladies of year  24.0  or older

In [1]:
#Setting a default value for a function 
def gender(sex = "Unknown"):
    if sex == 'm':
        sex = "Male"
    elif sex == 'f':
        sex = "Female"
    print(sex)

gender('m')
gender('f')
gender()

Male
Female
Unknown

In [2]:
#Key argument
def key_argument(name ='Ade', action = 'is', obj = 'boy', ans = 'Yes'):
    print(name, action, obj, ans)

key_argument()
key_argument('Ola', 'went', 'to school', 'today')
key_argument(action='mumu')
key_argument(ans = 'no', name ='Sade')

Ade is boy Yes
Ola went to school today
Ade mumu boy Yes
Sade is boy no